<div class="mx-auto text-center p-5">
  <h2>Welcome to Secure Privacy</h2>
  <p><a class="cursor-pointer" (click)="openCookieModal()"><small>Cookie information</small></a></p>
</div>
<app-sp-modal #cookieModal title="Can we store cookies?">
    <div class="mx-4">
      <p class="text-muted mb-4">We and our partners use technologies, such as cookies, and process personal data, such as IP addresses and cookie identifiers, to personalize ads and content based on your interests, measure the performance of ads and content, and derive insights about the audiences who saw ads and content.</p>
      <p class="text-muted mb-4">Click below to consent to the use of this technology and the processing of your personal data for these purposes. You can change your mind and change your consent choices at any time by returning to this site.</p>
      <p class="text-muted mb-4">You can familiarize with our <a href="https://www.google.com/" class="text-dark" target="_blank"><b>Privacy Policy</b></a></p>
    </div>
   <app-sp-accordion  toggleLabel="Customize" 
                      headerClass="flex-column flex-sm-row mx-4 mb-4"  
                      accordionClass="custom-accordion">
            <div header>
              <button class="btn btn-primary btn-large my-2 mr-3" (click)="onAccept()"><b>Accept All</b></button>
              <button type="button" class="btn btn-outline-secondary btn-large my-2">Save Settings</button>
            </div>
            <div body>
                <app-sp-accordion *ngFor="let category of cookieCategories; let last=last; let i=index" 
                                  headerClass="pl-4 pr-2 py-2" 
                                  [accordionClass]="last? '':'mb-3'">
                          <div header>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" 
                                      class="custom-control-input" 
                                      id="customSwitch{{i}}" 
                                      [(ngModel)]="category.IsMandatory"
                                      (ngModelChange)="onCategoryBlockingChange(category)">
                              <label class="custom-control-label" for="customSwitch{{i}}"><b>{{category.CategoyHeading}}</b></label>
                            </div>
                          </div>
                          <div body>
                            <hr class="mt-0 mb-4"/>
                            <p class="text-muted">{{category.CategoyText}}</p>
                            <div *ngIf="category.PluginList.length" class="overflow-auto">
                                <div class="row mb-3 text-nowrap">
                                    <div class="col-5"><b>Plugins</b></div>
                                    <div class="col-4"><b>Block/Enable</b></div>
                                    <div class="col-3"></div>
                                </div>
                                <div class="row mt-1 text-nowrap" *ngFor="let plugin of category.PluginList;let i=index; let last=last" [class.mb-2]="!last" [class.mb-3]="last">
                                    <div class="col-5 text-muted">{{plugin.ComplianceType}}</div>
                                    <div class="col-4">
                                        <div class="custom-control custom-switch">
                                            <input  type="checkbox" class="custom-control-input" 
                                                    name="pluginSwitch{{i}}"
                                                    id="pluginSwitch{{i}}" 
                                                    [(ngModel)]="plugin.BlockingEnabled"
                                                    (ngModelChange)="onPluginBlockingChange(category)">
                                            <label class="custom-control-label" for="pluginSwitch{{i}}"></label>
                                        </div>
                                    </div>
                                    <div class="col-3" *ngIf="plugin.optOutExternalLink">
                                        <a [href]="plugin.optOutExternalLink" class="text-dark" target="_blank">Go to site</a>
                                    </div>
                                </div>
                            </div>
                          </div>
                </app-sp-accordion>
            </div>
    </app-sp-accordion>
</app-sp-modal>
